

.symbol-container {
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;

}

.symbol-out {
  transform: rotate(45deg);
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5vw;

}

.symbol-in {
  width: 80%;
  height: 80%;
  border-radius: 1.2vw;

}

.color-1 {
  background-color: red;
}

.color-2 {
  background-color: blue;
}

.color-3 {
  background-color: green;
}

.color-4 {
  background-color: yellow;
}
