.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  font-size: 5vw;
  margin: 2vw;
}

.cards-container {
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.buttons-container {
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}
