<div class="header">
  <h1>Cards</h1>
</div>

<div class="cards-container">
  <app-card color="{{this.randomArray[0]}}"></app-card>
  <app-card color="{{this.randomArray[1]}}"></app-card>
  <app-card color="{{this.randomArray[2]}}"></app-card>
  <app-card color="{{this.randomArray[3]}}"></app-card>
</div>

<div class="buttons-container">
  <app-button text="Cover All" btnClass="style-1" (click)="flipAllToBack()"></app-button>
  <app-button text="Uncover All" btnClass="style-1" (click)="flipAllToFront()"></app-button>
  <app-button text="Flip All" btnClass="style-1" (click)="flipAllCards()"></app-button>
  <app-button text="Randomize" btnClass="style-1" (click)="randomizeCards()"></app-button>
</div>

